services:
  app:
    build:
      context: ../../apps/api
      dockerfile: Dockerfile
    restart: unless-stopped
    # Use PHP-FPM in production, behind Nginx
    command: php artisan serve --host=0.0.0.0 --port=8000
    expose:
      - 8000
    environment:
      - APP_ENV=production
      - APP_DEBUG=false
    env_file: .env
    depends_on:
      - postgres
      - redis
    networks:
      - octo-prod-network

  web:
    build:
      context: ../../apps/web
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file: .env
    networks:
      - octo-prod-network

  nginx:
    image: nginx:stable-alpine
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
      - web
    networks:
      - octo-prod-network

  postgres:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres-data-prod:/var/lib/postgresql/data
    networks:
      - octo-prod-network

  redis:
    image: redis:alpine
    restart: unless-stopped
    volumes:
      - redis-data-prod:/data
    networks:
      - octo-prod-network

  minio:
    image: minio/minio
    restart: unless-stopped
    environment:
      MINIO_ROOT_USER: ${AWS_ACCESS_KEY_ID}
      MINIO_ROOT_PASSWORD: ${AWS_SECRET_ACCESS_KEY}
    volumes:
      - minio-data-prod:/data
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - octo-prod-network

volumes:
  postgres-data-prod:
  redis-data-prod:
  minio-data-prod:


networks:
  octo-prod-network:
    driver: bridge
